<!DOCTYPE html>
<html lang="pt-br">
<body>
    <div class="container">
        <span>
            Sua busca não encontrou nenhum resultado.
        </span>
        <span>
            Produtos encontrados: {{totalOfProducts}} Resultado da Pesquisa por: <strong>{{search}}</strong> em {{time}} ms
        </span>

        <br/>
        
        <div>
            <p>Resultado...</p>
        </div>

        <br/>
        
        <span>
            Produtos encontrados: {{totalOfProducts}} Resultado da Pesquisa por: <strong>{{search}}</strong> em {{time}} ms
        </span>

        <span>Caso não tenha sido você quem solicitou este email, por favor desconsidere.</span>

        <span>Obrigado!</span>
    <h3>Equipe | Codeby</h3>
</body>
</html>