<style>
    span, strong {
        font-family: Arial, Helvetica, sans-serif;
    }

    .pagination-area {
        display: flex;
        flex-direction: column;
        margin: 25px 0;
    }

    .products-area {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 25px;
    }

    .product {
        margin-top: 25px;
    }

    .product-title {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }

    .old-price {
        text-decoration: line-through;
    }

    .email-footer {
        margin-top: 45px;
    }
</style>

<div class="container">
    {{#if findedProducts}}
    <span>
        Produtos encontrados: {{totalOfProducts}} Resultado da Pesquisa por: <strong>{{search}}</strong> em {{time}} ms
    </span>

    <div class="pagination-area">
        <span>Primeiro</span>
        <span>Anterior</span>
        <span>{{pageNumber}}</span>
        <span>Próximo</span>
        <span>Último</span>
    </div>

    <br/>
    
    <div class="products-area">
        {{#each products}}
        <div class="product">
            <span>{{productId}}</span>

            {{#each categories}}
                <span>{{this}}</span>
            {{/each}}

            <br/>

            <a href="{{link}}" class="product-title"><strong>{{productName}}</strong></a>

            <div>
                {{#if haveDiscount}}
                <span class="old-price">{{listPrice}}</span>
                {{/if}}

                <span>{{price}}</span>

                {{#if haveInstallments}}
                <span>ou {{numberOfInstallments}}x de {{installmentsValue}}</span>
                {{/if}}

                <span>Comprar</span>
            </div>
        </div>
        {{/each}}
    </div>

    <br/>

    <div class="pagination-area">
        <span>Primeiro</span>
        <span>Anterior</span>
        <span>{{pageNumber}}</span>
        <span>Próximo</span>
        <span>Último</span>
    </div>
    {{else}}
    <span>
        Sua busca não encontrou nenhum resultado.
    </span>
    {{/if}}

    <div class="email-footer">
        <span>Caso não tenha sido você quem solicitou este email, por favor desconsidere.</span>
        <br/>
        <span>Obrigado!</span>
        <br/>
        <strong>Equipe | Codeby</strong>
    </div>
</div>